@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-dark w-full overflow-x-hidden;
  }

  .h2 {
    @apply text-[#535353] font-[600] text-[clamp(2.5rem,6vw,5rem)];
  }

  .p {
    @apply text-[#d1d1d1] font-[300] text-[clamp(.95rem,1.7vw,1.2rem)];
  }

  strong {
    @apply font-[600] text-[#e0e0e0];
  }

  #monitorTheme {
    @apply fill-white dark:fill-[#4e6576];
  }
}

#frame1 {
  animation: frame1 1s infinite;
}
@keyframes frame1 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#frame2 {
  animation: frame2 1s infinite;
}
@keyframes frame2 {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa97;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.gradientText {
  background-color: #ff6565;
  background-image: linear-gradient(90deg, #b483a9, #c2877f);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.helloworld {
  animation: hello 1s infinite ease-out;
}
@keyframes hello {
  0% {
    margin-top: 27px;
  }
  50% {
    margin-top: 32px;
  }
  100% {
    margin-top: 27px;
  }
}

.test {
  transform: translateX(16.7%);
}

.testt {
  transform: translateX(-0.1%);
}

.testtt {
  transform: translateX(-10%);
}
